*.aux
*.log
*.out
*.blg
*.bbl
*.toc
*.snm

*.o
*.so

*.pyc
*.pyo

*.aux
*.log

.sconsign.dblite

.*.swp
*~

tags

core
core.*

*.i

*.class

*.exe
*.dll
*.mdb
*.pidb
*.csproj.user
*.suo
*.cache
*.usertasks
*.userprefs

*.bak

bin
obj

Thumbs.db

.R.Rout
.RData
.Rhistory

.deps

changelog.txt
_vim/sessions/
out.binvox
out.settings
490_1.binvox
490_1.settings
_diffusion.c
_distance.
_diffusion.c
_distance.c
cde
cde-package
cde.options
jaccard_sim.c
jaccard_sim.html
masked_00.settings
masked_01.settings
masked_02.settings
voxels_to_depth_images.c
*.settings
sliding_jaccard.c
sliding_chamfer.c
avg_left_chair.npz
parts_ba_matrix.032.h5
parts_ba_matrix.048.h5
parts_ba_matrix.064.h5
parts_ba_matrix.096.h5
parts_ba_matrix.128.h5
parts_ba_matrix.192.h5
model.192.binvox
misc_output
voxels_fast.c
_binvox_rw.c
_distance.cpp
_jaccard_sim.c
_voxels_fast.c
_voxels_to_depth_images.c
